{% extends 'ordersapp/base.html' %}

{% block content %}
     <div class="text-center h2 header">
        Ваши заказы, {% if user.first_name%}{{user.first_name}}{% else %}Пользователь{% endif %}
     </div>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Создан</th>
            <th>Обновлен</th>
            <th>Статус</th>
        </thead>
        <tbody>
            {% for item in object_list%}
                {% if item.is_active %}
                <tr>
                    <td class="td1 orders_list">{{ item.pk }}</td>
                    <td>{{ item.created|date:"d.m.Y. H:i:s"}}</td>
                    <td>{{ item.updated|date:"d.m.Y. H:i:s"}}</td>
                    <td>{{ item.get_status_display }}</td>
                    <td>
                        <a href="{% url 'order:read' item.pk %}">посмотреть</a>
                    </td>
                    <td>
                        {% if item.status == 'FM' %}
                        <a href="{% url 'order:update' item.pk %}">изменить</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.status == 'FM' %}
                        <a href="{% url 'order:delete' item.pk %}">удалить</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-default btn-round">
        <a href="{% url 'order:create' %}" class="btn btn-primary">создать заказ</a>
    </button>
    <button class="btn btn-default btn-round">
        <a href="{% url 'main' %}" class="btn btn-primary">на главную</a>
    </button>
{% endblock %}

