{% extends 'ordersapp/base.html' %}

{% block content %}
     <div class="text-center h2 header">
        Ваши заказы, {% if user.first_name%}{{user.first_name}}{% else %}Пользователь{% endif %}
     </div>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Создан</th>
            <th>Обновлен</th>
            <th>Статус</th>
        </thead>
        <tbody>
            {% for item in object_list%}
            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.created|date: "d.m.Y. H:i:s"}}</td>
                <td>{{ item.updated|date: "d.m.Y. H:i:s"}}</td>
                <td>{{ item.get_status_display }}</td>
                <td>
                    <a class="btn btn-link" href="{% url 'order:read' item.pk%}">посмотреть</a>
                </td>
                <td>
                    {% if item.status == 'FM' %}
                    <a class="btn btn-link" href="{% url 'order:update' item.pk%}">изменить</a>
                    {% endif %}
                </td>
                <td>
                    {% if item.status == 'FM' %}
                    <a class="btn btn-link" href="{% url 'order:delete' item.pk%}">удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <a href="{% url 'order:create' item.pk%}" class="btn btn-primary">создать заказ</a>
        <hr>
        <a href="{% url 'main' item.pk%}" class="btn btn-primary">на главную</a>
{% endblock%}

